<div class="card">
  <div class="card-body ">
    <div class="profile fw-bold d-flex align-items-center">
      <div class="rounded-circle me-2 overflow-hidden" style="width:50px;height:50px">
        <img *ngIf="user && user.image" [src]="user.image" style="width:100%;height:100%">
        <span *ngIf="!user || !user.image"
          class="rounded-circle d-flex justify-content-center align-items-center bg-secondary text-light"
          style="width:50px;height:50px">
          {{ user?.firstName?.charAt(0) }}
        </span>
      </div>

      {{user?.firstName}} {{user?.lastName}}&nbsp; <span class="text-muted fw-normal">&#64;{{user?.userName}} .
        {{tweet.createdAt | date:"dd MMM"}}</span>
    </div>
    <h6 class="card-text ms-4  my-2">{{tweet.content}}</h6>
    <div class="img-container mb-3 ms-3" *ngIf="dataURL">
      <img class="img-thumbnail" [src]="dataURL" alt="image" (click)="onClick($event)" data-toggle="modal"
        data-target="#myModal">
    </div>
    <div class="d-flex justify-content-between px-4">
      <div class="d-flex align-items-center">
        <a class="btn p-0 me-2 action" href="javascript:void(0)" style="cursor: not-allowed;"><i class='bx bx-comment'></i></a>
        <span>{{1}}</span>
      </div>
      <div class="d-flex align-items-center">
        <a class="btn p-0 me-2 action" href="javascript:void(0)" style="cursor: not-allowed;"><i
            class='bx bx-git-compare'></i></a>
        <span>{{2}}</span>
      </div>
      <div class="d-flex align-items-center">
        <input type="checkbox"  href="jinputvascript:void(0)" name="like" [(ngModel)]="like" (click)="plusLike()" class="action"
          [class]="like==false?'form-control bx bx-heart':'form-control bx bxs-heart'">
      
        <span data-bs-toggle="modal"
        data-bs-target="#staticBackdrop" data-bs-transition-duration="500" style="cursor: pointer;">{{tweet.likes.length?tweet.likes.length:''}}</span>
      </div>
      <div class="dropdown">
        <a class="btn p-0 me-2" type="button" data-bs-toggle="dropdown" data-bs-toggle="dropdown"><i
            class='bx bx-share action'></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" (click)="copy()"><i class='bx bx-link'></i>&nbsp; Copy Link to Tweet</a></li>
          <li><a class="dropdown-item" (click)="bookmark()"><i class='bx bx-bookmark'></i>&nbsp; Bookmark</a></li>
        </ul>
      </div>
    </div>


  </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" #closebutton class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <img src="{{imgSrc}}" style="max-width:100%;cursor:pointer" class="modal-hover-opacity" />
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Liked by</h1>
                <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                  <li *ngFor="let people of tweet.likes">{{getUser(people)}}</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->