<div class="card">
  <div class="card-body ">
    <div class="profile  d-flex align-items-center" >
      <div class="rounded-circle me-2 overflow-hidden" style="width:50px;height:50px;cursor: pointer;" (click)="navigateToProfile(user.id)"
      >
        <img *ngIf="user && user.image" [src]="user.image" style="width:100%;height:100%;object-fit: cover; border-radius: inherit; " alt="dp">
        <span *ngIf="!user || !user.image"
          class="rounded-circle d-flex justify-content-center align-items-center bg-secondary text-light"
          style="width:50px;height:50px">
          {{ user?.firstName?.charAt(0) }}
        </span>
      </div > 
      <div (click)="navigateToProfile(user.id)" style="cursor: pointer;" class="d-flex align-items-center">
        <span class="fs-6 name">{{user?.firstName}} {{user?.lastName}}</span>
        &nbsp;<img *ngIf="user?.userName=='lavneesh27'" src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg" width="20px" alt="verified" title="verified"> <span class="text-muted fw-normal">&#64;{{user?.userName}} .
          {{tweet.createdAt | date:"dd MMM"}}</span>
      </div>
      <div class="ms-auto">
        <button id="more" class="btn rounded-pill more-btn" style="cursor: pointer">
          <a class="text-reset text-decoration-none d-flex align-items-center justify-content-center" type="button"
            data-bs-toggle="dropdown" data-bs-toggle="dropdown" title="More"><i class='bx bx-dots-horizontal-rounded'></i></a>
          <ul class="dropdown-menu fw-normal">
            <li *ngIf="loginUser?.id != user?.id">
              <a class="dropdown-item d-flex align-items-center" (click)="unFollow(user?.id)">
                <i class="bx bx-user-minus fs-4 me-2"></i>
                  Unfollow &#64;{{ user?.userName }}
              </a>
            </li>
            <li *ngIf="loginUser?.id == user?.id">
              <a class="dropdown-item d-flex align-items-center text-danger" (click)="delete(tweet.id)">
                <i class='bx bx-trash fs-5 me-2'></i> Delete
              </a>
            </li>
          </ul>
        </button>
      </div>
     
    </div>
    <h6 class="card-text ms-4  my-2" (click)="redirect(tweet.id)">{{tweet.content}}</h6>
    <div class="img-container mb-3 ms-3" *ngIf="dataURL">
      <img class="img-thumbnail" [src]="dataURL" alt="tweetThumb" (click)="onClick($event)" data-toggle="modal"
        data-target="#myModal" (click)="redirect(tweet.id)">
    </div>
    <div class="d-flex justify-content-between px-4">
        <a class="btn p-0 me-2 action" href="javascript:void(0)" style="cursor: not-allowed;"><i class='bx bx-comment fs-5'></i></a>
        <a class="btn p-0 me-2 action" href="javascript:void(0)" style="cursor: not-allowed;"><i
            class='bx bx-git-compare fs-5'></i></a>
      <div class="d-flex align-items-center">
        <input id="like" type="checkbox" name="like" title="Like" [(ngModel)]="like" (change)="plusLike()" class="action"
          [class]="like==false?'form-control bx bx-heart fs-5':'form-control bx bxs-heart fs-5'">
          <span  style="cursor: pointer;">{{tweet.likes.length?tweet.likes.length:''}}</span>
      </div>    
      <div class="dropdown">
        <a class="btn p-0 me-2" type="button" data-bs-toggle="dropdown" data-bs-toggle="dropdown" title="Share"><i
            class='bx bx-share action fs-5'></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item d-flex align-items-center" (click)="copy()"><i class='bx bx-link fs-5'></i>&nbsp; Copy Link to Tweet</a></li>
          <li *ngIf="bookmarkStatus"><a class="dropdown-item d-flex align-items-center" (click)="unBookmark()"><i class='bx bxs-bookmark-minus fs-5'></i>&nbsp; Remove Bookmark</a></li>
          <li *ngIf="!bookmarkStatus"><a class="dropdown-item d-flex align-items-center" (click)="bookmark()"><i class='bx bx-bookmark fs-5'></i>&nbsp; Bookmark</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

