li app-card{
    width: 1000px;
}
.bookmark{
    position: relative;
    top: 50px;
    width: 1000px;
    height: calc(100vh-50px);
    border: 1px solid rgba(230, 230, 230,0.5);
    padding:0;
}
li{
    border: none;
    /* width: 720px; */
}
.header{
    width: 1000px;
    height: 50px;
    position: fixed;
    top:0;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.85);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    overflow: hidden;
}

.back{
    text-decoration: none;
    color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* background-color: aquamarine; */
    transition: all 0.5s;
}
.back:hover{
    background-color: rgb(230, 230, 230);
}
.no-data{
    height: 60vh;
    width: 1000px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    color: #919191;
    flex-direction: column;
  }