<div class="header d-flex align-items-center px-3 ">
  <a href="javascript:void(0)" (click)="goBack()" class="back me-3"><i class='bx bx-left-arrow-alt  fs-3'></i></a>
  <h5>Login</h5>
</div>
<div class="login p-3">
  <form class="container px-4">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email"  [(ngModel)]="email"/>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password" />
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rem">
      <label class="form-check-label" for="exampleCheck1" >Remember Me</label>
    </div> -->

    <button type="button" class="d-block mx-auto btn" (click)="login()">
      Login
    </button>
  </form>
</div>