<div class="header d-flex align-items-center px-3 ">
  <h5>Login</h5>
</div>
<div class="login p-3">
  <form class="container px-4" (submit)="login()">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" name="email"  [(ngModel)]="email"/>
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password" />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rem" name="remember"  [(ngModel)]="remember">  
      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <div class="mb-3">
      <p for="pwd" class="form-label">Forgot Password? <a href="javascript:void(0)" style="cursor: not-allowed">click here</a></p>
    </div>


    <button type="submit" class="d-block mx-auto btn">
      Login
    </button>
  </form>
</div>