<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid d-flex flex-column">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-column">
        <li class="nav-brand mb-3 m-hidden">
          <a class="nav-link d-flex active" aria-current="page" routerLink="/home"><i
              class='bx bxl-twitter fs-1 logo'></i></a>
        </li>
        <li class="nav-item mb-3" *ngIf="user">
          <a class="nav-link d-flex" aria-current="page" routerLink="/home" routerLinkActive="active"><i
              class='bx bxs-home fs-3'></i>&nbsp; <span class="hidden ms-1">Home</span></a>
        </li>
        <li class="nav-item mb-3" *ngIf="!user">
          <a class="nav-link d-flex" aria-current="page" routerLink="/login" routerLinkActive="active"><i
              class='bx bxs-key fs-3'></i>&nbsp; <span class="hidden ms-1">Login</span></a>
        </li>
        <li class="nav-item mb-3">
          <a class="nav-link d-flex" aria-current="page" routerLink="/register" routerLinkActive="active"><i
              class='bx bxs-user-plus fs-2'></i>&nbsp; <span class="hidden ms-1">Register</span></a>
        </li>
        <li class="nav-item mb-3" *ngIf="user">
          <a class="nav-link d-flex" aria-current="page" routerLink="/bookmark" routerLinkActive="active"><i
              class='bx bxs-bookmark fs-3'></i>&nbsp; <span class="hidden ms-1">Bookmarks</span></a>
        </li>
        
        <li class="nav-item mb-3" *ngIf="user">
          <a class="nav-link d-flex align-items-center" aria-current="page" [routerLink]="['/messages']"
            routerLinkActive="active"><i class='bx bxs-envelope fs-3'></i>&nbsp; <span class="hidden ms-1">Messages</span> <i *ngIf="isUnread" class="bx bxs-circle unread"></i></a>
        </li>
        <li class="nav-item mb-3  m-hidden" *ngIf="user">
          <a class="nav-link d-flex" aria-current="page" [routerLink]="['/profile', user.id]"
            routerLinkActive="active"><i class='bx bxs-user fs-3'></i>&nbsp; <span class="hidden ms-1">Profile</span></a>
        </li>
        <li class="mb-3 d-flex justify-content-center  m-hidden" *ngIf="user">
          <a class="btn btn-dark mb-3 float-end tweet " routerLink="/create"> <span class="hidden">Post</span></a>
        </li>

        <li *ngIf="user" class="nav-item dropup custom-dropup  m-hidden" style="height: 76px;">
          <a class="nav-link btn-profile" role="button" aria-expanded="false">
            <div class="d-flex align-items-center" style="justify-content: center;" >
              <div class="profile-container rounded-circle me-3"  style="width:50px;height:50px">
                <ng-container *ngIf="user.image; else noImage">
                  <img [src]="user.image" alt="User" class="profile-image" style="width:50px;height:50px;object-fit: cover; border-radius: inherit;">
                </ng-container>
                <ng-template #noImage>
                  <span class="profile-initial rounded-circle d-flex justify-content-center align-items-center bg-secondary text-light fs-4"  style="width:50px;height:50px">
                    {{ user?.firstName?.charAt(0) }}
                  </span>
                </ng-template>
              </div>
              <div class="hidden">
                <h5 class="mb-0 ">{{ user?.firstName }} {{ user?.lastName }}</h5>
                <h6 class="text-muted">&#64;{{ user?.userName }}</h6>
              </div>
              <div class="ellipses" style="position: absolute; right: 20px;">&#8230;</div>
            </div>
          </a>

          <ul class="dropdown-menu">
            <li (click)="user ? open(content) : login()">
              <a class="dropdown-item text-center fw-bold text-muted">
                {{ user ? "Log out" : "Login" }}
                <h6 class="text-muted text-center"><i class='bx bx-exit fs-4'></i> &nbsp;&#64;{{ user?.userName }}</h6>
              </a>
            </li>
          </ul>

        </li>
      </ul>
    </div>
</nav>

<ng-template #content let-modal>
  <div class="modal-body p-4">
    <div class="text-center"><i class="bx bxl-twitter text-center fs-1 mb-3"></i></div>
    <h3>Log out of Twitter?</h3>
    <p>You can always log back in at any
      time. If you just want to switch
      accounts, you can do that by
      adding an existing account.</p>
    <div class="d-flex flex-column">
      <button class="btn btn-dark mb-2" (click)="logout()">Log out</button>
      <button class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
    </div>
  </div>
</ng-template>