nav {
  width: 380px ;
  margin: 0;
  position: fixed;
  height: 100vh;
  z-index: 5;
  font-size: large;
  font-weight: bold;
  align-items: baseline;
  border: 1px solid rgba(230, 230, 230, 0.5);
  justify-content: center !important;
}
nav .nav-item {
  border-radius: 100px;
  transition: all 0.3s;
  padding: 5px;
}

nav .nav-item:hover {
  background-color: rgb(230, 230, 230);
}

nav .nav-brand i {
  color: #1d9bf0;
}

.tweet:hover {
  background-color: #3096db;
}

.tweet {
  width: 240px;
  height: 50px;
  border-radius: 100px;
  font-size: 20px;
  background-color: #1d9bf0;
  align-items: center;
  justify-content: center;
  display: flex;
  border: none;
}

.profile {
  width: 250px;
  height: fit-content;
  border-radius: 100px;
  font-size: 20px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  border: none;
}

.profile:hover {
  background-color: rgb(230, 230, 230);
}

.dropdown-menu {
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  cursor: pointer;
  padding: 10px;
}

.nav-item.dropup .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  transform: translateY(-10px);
}

.nav-item.dropup:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dark-modal .modal-content {
  background-color: #292b2c !important;
  color: white;
} 

.logo{
    border-radius: 50%;
    padding: 10px;
  transition: 0.3s;
}

.logo:hover{
  background-color: rgb(230, 230, 230);
}
.unread{
  color:  #3096db;
  position: absolute;
  right: 65px;
}
.nav-item{
  width: 100% !important;
  align-items: center !important;
}

.navbar-nav{
  margin: 0 !important;
}
.nav-link{
  width: 100% !important;
  align-items: center !important;
}

@media screen and (max-width: 1280px) {
  nav{
    width: 100px !important; 
    justify-content: center !important;
  }
  .navbar-nav{
    width: 100px !important;
    margin: 0 !important;
  }
  .nav-item{
    width: 100% !important;
    align-items: center !important;
  }
  .nav-link{
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .hidden{
    display: none !important;
  }
  .custom-dropup{
    width: 100% !important;
  }
  .ellipses{
    display: none !important;
  }
  .container-fluid{
    padding: 0;
  }
  .tweet{
    width: 50px !important;
  }
  .profile-container{
    margin:0 !important;
  }
}

@media screen and (max-width: 992px) {
  nav{
    width: 80px !important; 
    justify-content: center !important;
  }
  .navbar-nav{
    width: 80px !important;
  }
  .container-fluid{
    padding: 0;
  }
  .nav-item{
    width: 100% !important;
    align-items: center !important;
  }
  .nav-link{
    width: 100% !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .hidden{
    display: none !important;
  }
  .custom-dropup{
    width: 100% !important;
  }
  .ellipses{
    display: none !important;
  }
  .tweet{
    width: 50px !important;
  }
  .profile-container{
    margin:0 !important;
  }
}

@media screen and (max-width: 576px) {
  .navbar{
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 60px !important;
    width: 100% !important;
  }
  .navbar-nav{
    flex-direction: row !important;
    position: absolute;
    bottom: 0 !important;
    width: 100% !important;
    height: 60px !important;
    background-color: white;
  }
  .m-hidden{
    display: none !important;
  }

  .nav-item{
    width: 100% !important;
    align-items: center !important;
    padding: 0 !important;
    height: 100%;
  }
  .nav-link{
    width: 100% !important;
    justify-content: center !important;
    height: 60px !important;
  }
  .nav-link i{
    font-size: 40px !important;
  }
}