.create{
    padding:0;
    margin: 0;
}

.btn-custom{
    border-radius: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--twitter-primary) !important;
    border:none;
    color: white;
}
.btn-custom:hover{
    background-color: var(--twitter-secondary) !important;
}
.btn-custom-outline{
    border-radius: 50px;
    height: 50px;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: var(--twitter-secondary);
    border: 1px solid var(--twitter-secondary)!important;
    transition: all 0.5s;
}
.btn-custom-outline:hover{
    background-color: var(--twitter-secondary) !important;
    color: white;
    
}
.header{
    height: 50px;
    z-index: 3;
    border: 1px solid rgba(230, 230, 230, 0.5);
}