* {
  box-sizing: border-box;
}

.header {
  width: 1000px;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1em);
  margin: 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);;
}
.message{
  width: 1000px;
}
.back {
  text-decoration: none;
  color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.back:hover {
  background-color: rgb(230, 230, 230);
}

.body {
  position: absolute;
  top: 50px;
  width: 1000px !important;
}
.rounded-circle{
  min-width: 60px;
  max-width: 60px;
  min-height: 60px;
  max-height: 60px;
}
.profile,  .recentMessage{
  white-space: wrap;
  overflow: hidden !important;
  text-overflow:ellipsis !important;
}
.time{
  position: absolute;
  right:10px;

}
li{
    padding: 10px;
    border-radius: 0px !important;
    transition: all 0.5s;
}
li{
  border-bottom: 0.5px solid rgba(230, 230, 230, 0.5) !important;
}
li:hover {
  background-color: rgb(240 , 240, 240) !important;
} 
ul {
  list-style: none;
  height: calc(100vh-70px);
  overflow-y: auto;
  border-radius: 0 !important;
}
ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

ul:hover::-webkit-scrollbar-thumb {
  background-color: #777;
}
