* {
  box-sizing: border-box;
}

.header {
  width: 659px;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1em);
}
.back {
  text-decoration: none;
  color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.back:hover {
  background-color: rgb(230, 230, 230);
}

.body {
  position: absolute;
  top: 60px;
  width: 659px;
}
li{
    padding: 10px;
    /* border-radius: 20px; */
    transition: all 0.5s;
    margin-bottom: 1px;
    border-radius: 5px;
}
li{
  border: 0.5px solid rgba(230, 230, 230, 0.5) !important;
}
li:hover {
  background-color: rgb(240 , 240, 240) !important;
}
ul {
  list-style: none;
  height: calc(100vh-70px);
  overflow-y: auto;
  padding: 15px;
  margin-top: 10px;
}
ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

ul::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

ul:hover::-webkit-scrollbar-thumb {
  background-color: #777;
}
