<button
  (click)="scrollToTop()"
  class="go-to-top"
  [ngClass]="{ show: showButton }"
>
  <i class="bx bx-up-arrow-alt fs-4"></i>See new Tweets
</button>
<div class="header d-flex align-items-center px-3">
  <a href="javascript:void(0)" (click)="goBack()" class="back me-3"
    ><i class="bx bx-left-arrow-alt fs-3"></i
  ></a>
  <div>
    <h5 class="m-0">{{ user?.firstName }} {{ user?.lastName }}</h5>
    <small class="m-0 text-muted">{{ tweets.length }} Tweets</small>
  </div>
</div>
<div class="container profile">
  <div class="flex flex-column">
    <div class="banner">
      <img
        [src]="this.user?.banner"
        [attr.data-bs-toggle]="isAdmin ? 'modal' : null"
        [attr.data-bs-target]="isAdmin ? '#staticBackdrop' : null"
        [attr.data-bs-transition-duration]="isAdmin ? '500' : null"
        alt="banner"
      />
      <div
        *ngIf="!this.user?.banner"
        style="background-color: #cfd9de; width: 100%"
        [attr.data-bs-toggle]="isAdmin ? 'modal' : null"
        [attr.data-bs-target]="isAdmin ? '#staticBackdrop' : null"
        [attr.data-bs-transition-duration]="isAdmin ? '500' : null"
      ></div>
      <div
        class="rounded-circle me-3 overflow-hidden text-center dp my-3"
        style="
          width: 150px;
          height: 150px;
          border: 4px solid white;
          border-radius: 50%;
        "
        [attr.data-bs-toggle]="isAdmin ? 'modal' : null"
        [attr.data-bs-target]="isAdmin ? '#staticBackdrop' : null"
        [attr.data-bs-transition-duration]="isAdmin ? '500' : null"
      >
        <img
          *ngIf="user?.image"
          [src]="user.image"
          alt=""
          style="
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
          "
        />
        <span
          class="rounded-circle d-flex justify-content-center align-items-center bg-secondary text-light fs-1"
          style="width: 150px; height: 150px"
        >
          {{ user?.firstName.charAt(0) }}
        </span>
      </div>
    </div>
    <div class="flex flex-column info px-3">
      <h4 class="d-flex align-items-center mb-0">
        {{ user?.firstName }} {{ user?.lastName }}
        <img
          *ngIf="user?.userName == 'lavneesh27'"
          src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Twitter_Verified_Badge.svg"
          width="25px"
          alt="verified"
          title="verified"
        />
      </h4>
      <h6 class="text-muted text-sm">&#64;{{ user?.userName }}</h6>
      <h6>{{ user?.bio }}</h6>
      <div
        class="col text-muted mt-3 justify-content-around my-3"
        style="height: auto"
      >
        <div
          class="col-2 d-flex align-items-center mb-2"
          *ngIf="user?.location"
        >
          <i class="bx bx-location-plus fs-5 me-1"></i>
          <h6 class="text-sm mb-0">{{ user?.location }}</h6>
        </div>
        <div
          class="col d-flex align-items-center website mb-2"
          *ngIf="user?.website"
        >
          <i class="bx bx-link fs-5 me-1"></i>
          <h6 class="text-sm mb-0" [title]="user?.website">
            <a href="{{ user?.website }}">{{ user?.website }}</a>
          </h6>
        </div>
        <div class="col d-flex align-items-center me-4">
          <i class="bx bx-calendar fs-5 me-1"></i>
          <h6 class="text-sm mb-0">
            Joined {{ user?.createdAt | date : "MMMM yyyy" }}
          </h6>
        </div>
      </div>

      <h6 class="text-muted text-sm">
        <span class="fw-bold">{{ user?.following?.length || 0 }}</span>
        Following &nbsp;
        <span class="fw-bold">{{ user?.followers?.length || 0 }}</span> Follower
      </h6>
    </div>

    <div class="d-flex btn-grp-cstm gap-2">
      <div class="d-flex gap-2">
        <button id="more" *ngIf="user?.id != loginUser?.id" class="btn btn-outline-dark rounded-pill more-btn"
          style="cursor: pointer">
            <a class="text-reset" type="button" data-bs-toggle="dropdown" data-bs-toggle="dropdown" title="More"><i
                class='bx bx-dots-horizontal-rounded'></i></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="copy()"><i class='bx bx-link'></i>&nbsp; Copy Link to Profile</a></li>
            </ul>
        </button>
      
        <button
          id="chat"
          *ngIf="user?.id != loginUser?.id"
          class="btn btn-outline-dark rounded-pill px-3 chat-btn"
          [routerLink]="['/chat', user?.id]"
          routerLinkActive="router-link-active"
          style="cursor: pointer"
          title="Message"
        >
          <i class='bx bx-envelope'></i>
        </button>
      
        <button
          id="edit"
          *ngIf="!isAdmin"
          class="rounded-pill edit-btn"
          [class]="isFollower(user)?'btn btn-outline-dark float-end unfollow':'btn btn-dark float-end'"
          style="cursor: pointer"
          (mouseenter)="isFollower(user) ? hoverState = user.id : null" 
          (mouseleave)="hoverState = null" 
          (click)="isFollower(user)?unFollow(uid):follow(uid)"
        >
          {{isFollower(user)?(hoverState === user.id ? 'Unfollow' : 'Following'):'Follow'}}
        </button>
      
        <button
          id="edit"
          *ngIf="isAdmin"
          class="btn btn-outline-dark rounded-pill edit-btn"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          data-bs-transition-duration="500"
        >
          Edit Profile
        </button>
      </div>
      
    </div>
    
  </div>

  <div class="px-3">
    <h5 class="mt-4">Tweets</h5>
    <ul
      *ngIf="tweets?.length"
      class="list-group d-flex justify-content-center mt-4"
    >
      <li
        class="list-group-item d-flex justify-content-center p-0 border-0"
        *ngFor="let tweet of tweets"
      >
        <app-card [tweet]="tweet"></app-card>
      </li>
    </ul>
    <ngx-ui-loader [bgsPosition]="'bottom-center'"></ngx-ui-loader>
    <div class="no-data text-center" *ngIf="!isLoading && !tweets?.length">
      <h2>
        &#64;{{ user?.userName }} <br />
        hasn't tweeted
      </h2>
      <p>When they do, their Tweets will show up here.</p>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" style="margin-top: 60px">
    <div class="modal-content" style="height: 600px">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit profile</h1>
        <button
          type="button"
          class="btn-close me-2 p-3"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body overflow-y-scroll">
        <div class="flex flex-column">
          <div class="banner" style="width: 100%">
            <input
              type="file"
              class="d-none"
              accept="image/*"
              name="banner"
              id="banner"
              (change)="onFileSelected($event, 'banner')"
              style="cursor: none"
            />
            <img [src]="this.user?.banner" style="width: 100%" alt="preview" />
            <label
              for="banner"
              class="rounded-circle d-flex justify-content-center align-items-center edit-pic"
              style="
                background-color: rgba(50, 50, 50, 0.7);
                position: absolute;
                left: 340px;
                top: 120px;
                width: 40px;
                height: 40px;
                cursor: pointer;
              "
            >
              <i class="bx bx-camera fs-3" style="color: white"></i>
            </label>
            <label
              class="rounded-circle d-flex justify-content-center align-items-center edit-pic"
              style="
                background-color: rgba(50, 50, 50, 0.7);
                position: absolute;
                left: 400px;
                top: 120px;
                width: 40px;
                height: 40px;
                cursor: pointer;
              "
              (click)="clearBanner()"
            >
              <i class="bx bx-x fs-3" style="color: white"></i>
            </label>
            <div
              class="rounded-circle me-3 overflow-hidden text-center my-3 d-flex"
              style="
                width: 150px;
                height: 150px;
                position: absolute;
                top: 140px;
                left: 35px;
              "
            >
              <input
                type="file"
                class="d-none"
                accept="image/*"
                name="image"
                id="image"
                (change)="onFileSelected($event, 'image')"
                style="cursor: none"
              />
              <img
                *ngIf="user?.image"
                [src]="this.user.image"
                alt=""
                style="
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: inherit;
                "
              />
              <span
                *ngIf="!user?.image"
                class="rounded-circle d-flex justify-content-center align-items-center bg-secondary text-light fs-1"
                style="width: 150px; height: 150px"
                >{{ user?.firstName.charAt(0) }}</span
              >

              <label
                for="image"
                class="rounded-circle d-flex justify-content-center align-items-center edit-pic"
                style="
                  background-color: rgba(50, 50, 50, 0.7);
                  position: absolute;
                  left: 55px;
                  top: 60px;
                  width: 40px;
                  height: 40px;
                  cursor: pointer;
                "
              >
                <i class="bx bx-camera fs-3" style="color: white"></i>
              </label>
            </div>
          </div>
          <form
            class="d-flex flex-column"
            style="margin-top: 5rem"
            [formGroup]="updateForm"
            (ngSubmit)="update()"
            *ngIf="updateForm"
          >
            <label for="FirstName" class="form-label">First Name</label>
            <input
              id="FirstName"
              type="text"
              class="form-control mb-3"
              formControlName="firstName"
            />
            <label for="LastName" class="form-label">Last Name</label>
            <input
              id="LastName"
              type="text"
              class="form-control mb-3"
              formControlName="lastName"
            />
            <label for="Bio" class="form-label">Bio</label>
            <textarea
              id="Bio"
              class="form-control mb-3"
              formControlName="bio"
              style="resize: none"
            ></textarea>
            <label for="Location" class="form-label">Location</label>
            <select
              name="location"
              id="location"
              class="form-select mb-3"
              formControlName="location"
            >
              <option [value]="country" *ngFor="let country of countries">
                {{ country }}
              </option>
            </select>
            <label for="Website" class="form-label">Website</label>
            <input
              id="Website"
              type="text"
              class="form-control mb-3"
              formControlName="website"
            />
            <label for="DOB" class="form-label">DOB</label>
            <input
              id="DOB"
              type="date"
              class="form-control mb-3"
              formControlName="dob"
            />
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-dark rounded-pill"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="submit"
                class="btn btn-primary rounded-pill"
                data-bs-dismiss="modal"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
