* {
  box-sizing: border-box;
}

.header {
  width: 642px;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1em);
}

.profile {
  position: relative;
  top: 50px;
  width: 642px;
  height: calc(100vh - 50px);
  padding: 0;
}
.file {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 0;
}
.text-sm {
  font-size: 15px;
  font-weight: 400;
}
.back {
  text-decoration: none;
  color: black;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all 0.5s;
}
.back:hover {
  background-color: rgb(230, 230, 230);
}

.no-data {
  height: 40vh;
  width: 642px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: #919191;
  flex-direction: column;
}
.banner {
  width: 100%;
  overflow: hidden;
  height: 220px;
  padding: 0;
  margin: 0;
  object-fit: cover;
}
.banner img {
  width: 642px;
  object-position: right top;
  cursor: pointer;
}
.banner img:hover {
  filter: brightness(70%);
  transition: 0.3s all;
}

.dp {
  position: absolute;
  top: 125px;
  left: 15px;
  cursor: pointer;
}
.dp:hover {
  filter: brightness(70%);
  transition: 0.3s all;
}

.info {
  margin-top: 5rem;
}
.modal-content {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 700px;
}
.modal {
  transition: opacity 0.3s;
}
.edit-pic:hover {
  filter: brightness(80%);
}

.edit-btn {
  position: absolute;
  right: 10px;
  top: 230px;
  font-weight: bold;
  border: 1px solid rgba(175, 175, 175, 0.5);
}

.website a {
  text-decoration: none;
  color: #1d9bf0;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.website a:hover {
  text-decoration: underline;
}

.chat-btn {
  position: absolute;
  right: 100px;
  top: 230px;
  font-weight: bold;
  border: 1px solid rgba(145, 145, 145, 0.5);
}

li {
  border-radius: 0 !important;
}
.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 50%;
  top: 60px;
  transform: translateX(50%);
  background-color: #1d9bf0;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: auto;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  z-index: 5;
}

.go-to-top.show {
  opacity: 1;
}
