li app-card {
  width: 1000px;
}
.home {
  width: 1000px;
  border: 1px solid rgba(230, 230, 230, 0.5);
  padding: 0;
  position: relative;
  top: 50px;
}

li {
  border: none;
  
}
.header {
  width: 1000px;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  overflow: hidden;
}

.input {
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: lighter;
  background-color: white;
}

.line {
  border: 0.25px solid rgba(153, 153, 153, 0.6);
  outline: none;
  justify-content: center;
}
.tweet {
  background-color: #1d9bf0 !important;
  border-radius: 50px;
  border: none;
}

.image {
  text-decoration: none;
  display: flex;
  color: #1d9bf0 !important;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  
}

.image:hover {
  text-decoration: none;
  color: #3096db !important;
  background-color: rgb(230, 230, 230);
}
.cross {
  position: absolute;
  top: 20px;
  left: 100px;
  color: #3D3D3D;
  cursor: pointer;
}
.cross:hover {
  color: #666666;
}

.no-data{
  height: 60vh;
  width: 1000px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  color: #919191;
  flex-direction: column;
}

#gifModal{
  width: 100%;
  height: 450px !important;
  overflow-y: scroll;
}

.gifs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px; 
  margin: 0 auto;
  width: 100%;
}

.gif img {
  max-width: 100%; 
}

.go-to-top {
  position: fixed;
  bottom: 20px; 
  right: 50%;
  top:60px;
  transform: translateX(50%);
  background-color: #1d9bf0;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px;
  width: auto;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 5;
}

.go-to-top.show {
  opacity: 1;
}