form{
    width: 100%;
}
.register{
    width: 1000px;
    height: calc(100vh-50px);
    border-top: 1px solid rgba(230, 230, 230,0.5);
}

.btn{
    border-radius: 50px;
    background-color: var(--twitter-primary) !important;
    border:none;
    color: white;
}
.btn:hover{
    background-color: var(--twitter-secondary) !important;
}
.header{
    width: 1000px;
    height: 50px;
    z-index: 3;
    /* align-items: center; */
}